@import url('https://fonts.googleapis.com/css?family=Poppins');

.navbar {
    top: 25px;

}

.header {
    position: relative;
    width: 2000px;
    height: 1500px;
    background: linear-gradient(180deg, #1E6EB4 0%, #2C206D 100%);
}
.navbar-brand {
    position: absolute;
    width: 109px;
    height: 150px;
    left: 185px;
    top: 14px;
}
.navbar-brand {
    font-family: 'Poppins';
    font-style: bold;
    font-weight: 1000;
    font-size: 30px;
    line-height: 12px;
     /* identical to box height */
    
    
    color: #FFFFFF;
}

.nav-item{
    font-family: 'Poppins';
    font-style: bold;
    font-weight: 700;
    font-size: 25px;
    line-height: 12px;
        /* identical to box height */

}

.nav-link {
    color: #FFFFFF;
}

.logo{
    position: absolute;
    width: 25px;
    height: 25px;
    left: 74px;
    top: 8px;
}

.profil{
    position: absolute;
    width: 50x;
    height: 50px;
    left: 1700px;
    top: 25px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}

.titik {
    position: absolute;
    width: 2000px;
    height: 1000px;
    left: 0px;
    top: 0px
}
.biru{
    
    position: absolute;
    width: 150px;
    height: 150px;
    left: 115px;
    top: 435px;
    
    background: #18CFF5;
    border-radius: 100px;
}
.orange {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 927px;
    top: 458px;

    background: #FAA225;
    border-radius: 100px;
}

.hijau{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 572px;
    top: 95px;
    
    background: #1ED981;
    border-radius: 100px;
}

.header2{
    position: absolute;
    width: 843px;
    height: 600px;
    left: 163px;
    top: 134px;
}

.header2 h1{
    font-family: 'Poppins';
    font-style: bold;
    font-weight: 700;
    font-size: 200px;
    line-height: 200px;
    
    color: #FFFFFF;
}

.lingkaran1{
    position: absolute;
    width: 200px;
    height: 150px;
    left: 0px;
    top: 288px;

}

.lingkaran2{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 0px;
    top: 955px
}

.plan1{
    position: absolute;
    width: 250px;
    height: 258.5px;
    left: 176.72px;
    top: 680px;
    background: url(image.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: rotate(36.49deg);

}

.planet2{
    position: absolute;
    width: 250px;
    height: 250px;
    left: 620px;
    top: 764px;
    
    background: url(image.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.planet3{
    position: absolute;
    width: 250px;
    height: 255px;
    left: 1034px;
    top: 754px;
    
    background: url(image.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.videop{
    position: absolute;
    width: 723.18px;
    height: 545.83px;
    left: 60.7%;
    right: 3.14%;
    top: 10.2%;
    bottom: 50.41%;
    background: #5D99FB;
    box-shadow: 20px 10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.header3{
    position: absolute;
    left: 26.34%;
    right: -0.87%;
    top: 3.02%;
    bottom: 74.08%
}

.header3 h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 750;
    font-size: 100px;
    line-height: 90px;
    color: #FFFFFF;
}
.play{
    position: absolute;
    width: 145px;
    height: 146px;
    left: 432.47px;
    top: 270.5px;
}

.header4{
    position: absolute;
    left: 47.63%;
    right: 3.97%;
    top: 83.82%;
    bottom: 4.82%;
}

.header4 h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 75px;
    
    color: #FFFFFF;
}
.deskripsip1{
    position: absolute;
    width: 330px;
    height: 407px;
    left: 144px;
    top: 963px;
    
    background: #FFFFFF;
    box-shadow: 19px 10px 10px rgba(0, 0, 0, 0.25), inset -11px -10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.deskripsip2{
    position: absolute;
    width: 330px;
    height: 407px;
    left: 578px;
    top: 966px;
    
    background: #FFFFFF;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.25), inset -5px -5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.deskripsip3{
    position: absolute;
    width: 330px;
    height: 407px;
    left: 1012px;
    top: 969px;
    
    background: #FFFFFF;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.25), inset -5px -5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

}
.header5{
    position: absolute;
    width: 189px;
    height: 50px;
    left: 17px;
    top: 40px;
}

.header5 h4{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
        /* identical to box height, or 100% */
    
    
    color: #5D99FB;
}

.header6{
    position: absolute;
    width: 240px;
    height: 266px;
    left: 17px;
    top: 102px;
}

.header6 h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    
    color: #98A2B3;
}

.header7{
    position: absolute;
    width: 265px;
    height: 50px;
    left: 17px;
    top: 40px;
}

.header7 h6{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
        /* identical to box height, or 100% */
    
    
    color: #5D99FB;
}


.header8{
    position: absolute;
    width: 265px;
    height: 266px;
    left: 17px;
    top: 102px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    
    color: #98A2B3;
}

.header9{
    position: absolute;
    width: 189px;
    height: 50px;
    left: 17px;
    top: 40px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
        /* identical to box height, or 100% */
    
    
    color: #5D99FB;
}

.header10{
    position: absolute;
    width: 240px;
    height: 266px;
    left: 17px;
    top: 113px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    
    color: #98A2B3;
}
.start{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 1376px;
    top: 1097px;
}
.member{
    position: absolute;
    width: 225px;
    height: 75px;
    left: 1608px;
    top: 1384px;

}